/*Imagen centrada. Hay que setear la clase directamente*/
.centered-image, .centered-image-80 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}

.centered-image-50 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

/*Eliminar excesivo maregen inferior tras titulo principal de la página*/
.md-main__inner .md-content h1:first-of-type {
  margin-bottom: 0rem; /* Prova amb el valor que prefereixis */
}

/* Justificar el texto de todos los párrafos en el contenido principal */
.md-content p {
  text-align: justify;
}